footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav 
    li: a(href='#') 소개
    li: a(href='#') 앱 다운로드
    li: a(href='#') 가이드 지원
    li: a(href='#') 경력
    li: a(href='#') 연락처
  p.footer__copyright &copy; by hjpark. Practice Version